@import 'bootstrap';

a{
  color: pink;
}

body, html{
  font-family: 'Inconsolata', monospace;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Squada One', sans-serif;
}

.navbar-brand{
  font-size: 2em;
  font-family: 'Squada One', cursive;
  .queer{
    font-family: 'Dancing Script', cursive;
  }
}