---
layout: compress
---
<!DOCTYPE html>
  <html>
    <head>
      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link href="https://fonts.googleapis.com/css?family=Anton|Baloo+Da|Inconsolata|Montserrat|Righteous|Teko&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Passion+One|Righteous|Squada+One|Yesteryear&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
      {% capture inline_css %}
        {% include_relative assets/css/queerwebdev.scss %}
      {% endcapture %}
      <style>
        {{ inline_css | scssify }}
      </style>
      {% capture inline_js %}
        {% include_relative assets/js/jquery.js %}
        {% include_relative assets/js/bootstrap.js %}
      {% endcapture %}
      <script>
        {{ inline_js }}
      </script>
    </head>
    <body>
      <div class="container">
        <header class="blog-header pt-3">
          <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-12 pt-1">
              <a class="navbar-brand text-muted" href="/"><span class="queer">queer web developer</span></a>
            </div>
          </div>
        </header>
        <div class="nav-scroller py-1 m-b-0">
          <nav class="nav d-flex">
            {% for item in site.data.nav_items %}
              <a href="{{item.url}}" class="{% if item.full_url == page.url %}active{% endif %} pr-4 text-muted">
                {{item.title}}
              </a>
            {% endfor %}
          </nav>
        </div>
        <hr/>



        {{ content }}
        
      </div>
      
    </body>
  </html>