---
layout: compress
---
<!DOCTYPE html>
  <html>
    <head>
      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link href="https://fonts.googleapis.com/css?family=Squada+One|Inconsolata|Dancing+Script&display=swap" rel="stylesheet">
      <meta name="viewport" content="initial-scale=1.0">
      {% capture inline_css %}
        {% include_relative assets/css/queerwebdev.scss %}
      {% endcapture %}
      <style>
        {{ inline_css | scssify }}
      </style>
      {% capture inline_js %}
        {% include_relative assets/js/jquery.js %}
        {% include_relative assets/js/bootstrap.js %}
      {% endcapture %}
      <script>
        {{ inline_js }}
      </script>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141218503-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-141218503-1');
      </script>
      {% seo %}
    </head>
    <body>
      <div class="container">
        <header class="blog-header">
          <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-12 pt-3">
              <a class="navbar-brand text-muted" href="/"><span class="queer">queer web developer</span></a>
            </div>
          </div>
        </header>
        <div class="nav-scroller py-1 m-b-0">
          <nav class="nav d-flex">
            {% for item in site.data.nav_items %}
              <a href="{{item.url}}" class="{% if item.full_url == page.url %}active{% endif %} pr-4 text-muted">
                {{item.title}}
              </a>
            {% endfor %}
          </nav>
        </div>
        <hr/>



        {{ content }}
        
      </div>
      
    </body>
  </html>